a:link, a:visited {
    color: #0000FF;
}

div.breadcrumbs, .object-tools a:link, .object-tools a:visited,
#nav-sidebar .current-model {
    background: #FF8C00;
}

#header, .module caption, .button, .button.default, input[type=submit].default,
.submit-row input.default, input[type=submit], input[type=button],
.submit-row input, a.button {
    background: #EB796F;
}

.submit-row a.deletelink {
    background: #8B0001 !important;
}